<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Mike! How have you been? It's been ages.</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1> 
    <h1>i'm doing well too.</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1>
    <h1>I've started my Masters in Computer Science at Stanford University.</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1>
    <h1>Yes, indeed. How about you, Mike? You were into arts, right?</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1>
    <h1>That's fantastic. I'm so glad for you.</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1>
    <h1>Absolutely! There's so much to talk about.</h1>
    <h1><a href="{% url 'mike' %}">Response</a></h1>
    <h1>Sure, see you soon. Bye.</h1>
    </center>
</body>
</html>