<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hey, is that you, John?</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1> 
        <h1>I'm doing great. Yes, we haven't met since graduation.</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1>
        <h1> So, what have you been up to?</h1> 
        <h1><a href="{% url 'john' %}">Response</a></h1>
        <h1>That's awesome! You always loved coding.</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1>
        <h1>You remember correctly. I'm pursuing my Masters in Fine Arts from The New School in New York.</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1>
        <h1>I'm happy for you too. Let's catch up more often.</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1>
        <h1> I'll see you soon. I need to leave now. Take care.</h1>
        <h1><a href="{% url 'john' %}">Response</a></h1>
        
    </center>
</body>
</html>